<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contact">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="boat">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>Boat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurant">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Recipe</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
