
<app-header></app-header>

<ion-content [fullscreen]="true" class="content">
  <h1 class="ion-text-center">Nos bateaux partenaires</h1>
  <h5 class="ion-text-center">Tout les eaux mènent à Thibault</h5>
  <div class="icon">
    <div>
      <div>
        <ion-icon name="call"></ion-icon>06.73.99.99.78
      </div>

      <div>
        <ion-icon name="mail"></ion-icon>lebateaudethibault@gmail.com
      </div>

      <div>
        <ion-icon name="logo-facebook"></ion-icon>www.facebook/lebateaudethibault.com
      </div>
    </div>
  </div>
  <div id="button-container">
    <ion-grid>
      <ion-row >
        <ion-col size="6" *ngFor="let boat of boatList">
          <app-bouton-recipice url="" text="{{boat.name}}" src="{{boat.src}}_icon.png"></app-bouton-recipice>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
