.responsive {
    width: 40%;
    height: 40%;    
    clip-path: circle();
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    line-height: 1;
    font-size: small;
}


.cardconteudo {
  background: rgba(255,255,255,0.5);
}