<app-header></app-header>

<ion-content [fullscreen]="true">
  
  <div class="container">

        <h1>Le bateau de Thibault</h1>

        <img class="responsive"
        src="../../assets/thibeauf.jpg"
        alt="Thibeauf en train d'agiter sa grosse canne à pêche.">

        <p>
        <br>06.63.99.99.78
        <br>lebateaudethibault@gmail.com
        <br>www.facebook.com/lebateaudethibault</p>

        <p>Qu'il est chaud le soleil
          <br>Quand nous sommes en vacances
          <br>Y'a d'la joie, des hirondelles
          <br>C'est le sud de la France
          <br>Papa bricole au garage
          <br>Maman lit dans la chaise longue
          <br>Dans ce joli paysage
          <br>Moi, je me balade en tonge

          <br>Que de bonheur!
          <br>Que de bonheur!
        </p>


    


  </div>

</ion-content>
