<app-header></app-header>


<ion-content>

  <div class="item">
    <h1 style="text-align:center;">
      Contact 
    </h1>


    <ion-card class="cardconteudo">
      <img alt="Silhouette of mountains" src="../../assets/thibeauf.jpg" />
      <ion-card-header style="text-align: center;">
        <ion-text><ion-icon name="call-outline"></ion-icon>  06.63.99.99.78
        <br><ion-icon name="mail-outline"></ion-icon>  lebateaudethibaul@gmail.com
        <br><ion-icon name="logo-facebook"></ion-icon>  www.facebook.com/lebateaudethibault</ion-text>
      </ion-card-header>

      <ion-card-content class="ion-text-center" style="padding-top:0;">
        <ion-text style="font-size: 10px;">Qu'il est chaud le soleil
          <br>Quand nous sommes en vacances
          <br>Y'a d'la joie, des hirondelles
          <br>C'est le sud de la France
          <br>Papa bricole au garage
          <br>Maman lit dans la chaise longue
          <br>Dans ce joli paysage
          <br>Moi, je me balade en tonge 
          <br><br>Que du bonheur!
          <br>Que du bonheur!
        </ion-text>              
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>