*{
  font-family:AppFont !important;
  color: white;
}
h1{
  padding: 24px 0;
  text-shadow:  0px 5px 5px  rgba(0,0,0,.2);
}
h5{
  margin-bottom: 24px;
  padding: 0 15px;
  text-shadow:  0px 5px 5px  rgba(0,0,0,.2);
}

.icon{
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.icon ion-icon{
  margin-right: 15px;
}



