<app-header></app-header>

<ion-content [fullscreen]="true">
    <h1 class="ion-text-center">Nos recettes</h1>
    <h5 class="ion-text-center">Toutes les recettes du bateau de Thibault</h5>

  <div class="icon">
    <div>
      <div>
        <ion-icon name="call"></ion-icon>06.73.99.99.78
      </div>

      <div>
        <ion-icon name="mail"></ion-icon>lebateaudethibault@gmail.com
      </div>

      <div>
        <ion-icon name="logo-facebook"></ion-icon>www.facebook/lebateaudethibault.com
      </div>
    </div>
  </div>

  <div id="button-container">
    <ion-grid>
      <ion-row *ngFor="let recipe of recipiceList">
        <ion-col size="6">
          <app-bouton-recipice url="" text="{{recipe.name}}" src="{{recipe.src}}_icon.png"></app-bouton-recipice>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
