
*{
  color: white;
}
h1{
  padding: 15px;
  margin-bottom: 48px;
  text-shadow:  0px 5px 5px 0 rgba(0,0,0,.2);
}

.container{
padding: 12px;
}
img{
  height: auto;
  width: 100%;
  margin-bottom: 24px;
}
p{
  text-shadow:  0px 5px 5px  rgba(0,0,0,.2);
}
