ion-button{
  --background: transparent;
  --border-radius: 0;
  --padding:15px;
}
.container {
  background-color: rgb(52, 132, 147,0.8);
}

img{
  height:100%;
  width:auto;
  margin-right: 10px;
}
